<% if user.goals %>
Goals
<ul>
  <% user.goals.each do |goal| %>
    <% next if goal.private? && goal.author_id != current_user_id %>
    <li>
      <form action="<%= cheers_url%>" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">

        <input type="hidden" name="cheer[goal_id]" value="<%= goal.id %>">

        <button>Cheer</button>
      </form>

      <%= goal.cheer_count %> cheer(s)



      <a href="<%= goal_url(goal)%>"><%= goal.content %></a>,
       created at <%= goal.created_at %> status: <%= display_status(goal)%>
       <% if !goal.completed? && goal.author_id == current_user_id %>
        <%= render "goals/completed_button", goal: goal %>
       <% end %>
    </li>
  <% end %>
</ul>
<% end %>
